body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  background-color: green;
}

.deck-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.deck {
  height: 112px;
  width: 64px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border-radius: 8px;
  color: white;
  user-select: none;
}

.player1-deck {
  background-color: blue;
}

.player2-deck {
  background-color: grey;
}

,text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  }

  .card {
  position: relative;
  height: 112px;
  width: 64px;
  border: 1ps solid black;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  }

  .card.red {
    color: red;
  }

  .card.black {
    color: black
  }

  .card::before,
  .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 16px;
  }

  .card::before {
    top: 8px;
    left: 8px;
  }

  .card::after {
    top: 8px;
    left: 8px
  }